<input (input)="search($event)" placeholder="Type to search user..."/>  
        
    <br />
    <br />
    
    <button (click)="load()">Load</button>
    
    <br />
    <br />
    
    <button (click)="reload()">Reload</button>
    
    <br />

    <h2>api service</h2>
    <ul>
      @for (user of apiUsers(); track user.id) {
        <li>{{ user.firstName }}{{ user.lastName }}</li>
      } @empty {
        <p>No Users!</p>
      }

    </ul>

    <br />

    <h2>resource</h2>
    <ul>
      @let error = users.error();
      @if (error) { <p>{{ error }}</p> }

      @if (users.isLoading()) { <p>Loading Users...</p> }

      @for (user of users.value(); track user.id) {
        <li>{{ user.firstName }}{{ user.lastName }}</li>
      } @empty {
        <p>No Users!</p>
      }
    </ul>

    <br />

    <h2>rxResource</h2>
    <ul>
      @let rxError = rxUsers.error();
      @if (rxError) { <p>{{ rxError }}</p> }

      @if (rxUsers.isLoading()) { <p>Loading Users...</p> }

      @for (rxUser of rxUsers.value(); track rxUser.id) {
        <li>{{ rxUser.firstName }}{{ rxUser.lastName }}</li>
      } @empty {
        <p>No Users!</p>
      }
    </ul>