<p>
  Some Button is a <code>Command Button</code> that knows to disable itself when
  the command is being executed
</p>
<button (click)="command$.next(true)" [disabled]="commandDisabled$ | async">
  Some Button
</button>

<p>
  Other Button can accept addition params and its <code>disabled</code> state
  can also be controlled by a
  <code>BehaviorSubject</code>
</p>
<button (click)="otherCommandDisabled$.next(!otherCommandDisabled$.getValue())">
  Toggle disabled state for Other Button
</button>
<br />
<button (click)="otherCommand$.next(123)" [disabled]="(otherCommandDisabled$ | async)">
  Other Button
</button>