<h1>Signal example</h1>
<div>
  <label>
    First name
    <input [value]="firstName()" (input)="setName(firstName, $event)" />
  </label>
</div>
<div>
  <label>
    Last name
    <input [value]="lastName()" (input)="setName(lastName, $event)" />
  </label>
</div>

<p>Full name (computed): {{ fullName() }}</p>
<p>Full name (observable): {{ fullNameStream | async }}</p>

@for (book of books(); track book.id;) {
<p>{{ book.title }}</p>
} 

@for (book of options(); track book;) {
  <p>{{ book }}</p>
}
<button (click)="setOption('fig')">set Option</button>
<br/>

@if (user.isLoading()) { Loading.... } @else {
<!-- <user-profile [user]="user.value()" /> -->
}

<!-- <input [field]="form.fields.first">
     <input [field]="form.fields.last"> -->

<select [ngModel]="quantity()" (change)="onQuantitySelected($any($event.target).value)">
  <option *ngFor="let q of qtyAvailable()">{{ q }}</option>
</select>

<div>Vehicle: {{ selectedVehicle().name }}</div>
<div>Price: {{ selectedVehicle().price }}</div>
<div [style.color]="color()">Total: {{ totalPrice() }}</div>

userId:
<input [value]="userId()"/>
<button (click)="userData()">Fetch Resource value</button>

swPersonResource
<pre> {{swPersonResource.value()|json}}</pre>